*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

.main-container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right , #fff6ad 0%, #ffabf6 75%);
}

.nav-bar-container{
    height: 10vh;
    width: 100%;
    background-color: #ff7070;
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-large{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding:5px;
}

.nav-large li{
    padding: 60px;

}

a{
    text-decoration: none;
    color:#000000;
    font-size: 20px;
}



@media screen and (max-width:991px){
    .nav-large{
        display: none;
    }
    .content-image{
        display: none;
    }
    .content-container-small-med{
        background-image: url("https://res.cloudinary.com/ddyatvsai/image/upload/v1708537015/pexels-robin-stickel-70497_iglqhf.jpg");
        height: 90vh;
        background-size: cover;
    }
    .content{
        display: none;
        
    }

    .content-container{
        display: none;
    }

    .content-small-med{
        background: rgba(0,0,0,0.5);
        padding: 20px;
        border-radius: 5px;
        
    }

    .content-heading{
        color:#ffffff;
    }
    
}

@media screen and (min-width:992px){
    .nav-small-medium{
        display: none;
    }
}


.image-icon{
    height: 30px;
    width: 30px;
    
}

.content-container{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.content-image{
    height: 90vh;
    width:55vw;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
}

.content-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.lower-content{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: auto;
}

.button{
    margin-top: 25px;
    background-color: #ff7070;
    padding: 10px 60px 10px 60px;
    border: none;
    cursor: pointer;
    color:#ffffff;
    font-size: 18px;
}